
.about {
    text-align: center;
    height: 60vh;
    line-height: 2;
}

.a-parallax {
    background-image: url("../img/code.jpg");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .75;
    height: 80vh;
}

.about-content {
    background-color: white;
}