
.contact-info {
    text-align: center;
    font-size: large;
}

.c-parallax {
    background-image: url("../img/city.jpg");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .85;
    height: 82.5vh;
}

.contact-content {
    background-color: white;
}